<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(BRAVE_API_KEY)</string>
	<key>AdjustAppToken</key>
	<string>$(ADJUST_APP_TOKEN)</string>
	<key>AdjustEnvironment</key>
	<string>$(ADJUST_ENVIRONMENT)</string>
	<key>AppIdentifierPrefix</key>
	<string>$(APP_IDENTIFIER_PREFIX)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(MOZ_BUNDLE_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BRAVE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.brave.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>brave</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(BRAVE_BUILD_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>firefox-focus</string>
		<string>firefox-klar</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>airmail</string>
		<string>italiaonline-mailto</string>
		<string>mailru-mailto</string>
		<string>mymail-mailto</string>
		<string>readdle-spark</string>
		<string>itms-books</string>
		<string>org-appextension-feature-password-management</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MozDevelopmentTeam</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>MozWhatsNewTopic</key>
	<string></string>
        <key>NFCReaderUsageDescription</key>
        <string>The application needs access to NFC reading to communicate with your Yubikey.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take and upload photos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Brave requires Face ID to access your saved logins.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Websites you visit may request your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you take and upload videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you save photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you save and upload photos.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.mozilla.ios.firefox.browsing</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CharisSILB.ttf</string>
		<string>CharisSILBI.ttf</string>
		<string>CharisSILI.ttf</string>
		<string>CharisSILR.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-Book.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-UltraLight.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.yubico.ylp</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>1Password Fill Browser Action</string>
			<key>UTTypeIdentifier</key>
			<string>org.appextension.fill-browser-action</string>
			<key>UTTypeSize64IconFile</key>
			<string></string>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
        <key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
        <array>
    	    <string>A000000527471117</string>
            <string>A0000006472F0001</string>
        </array>
</dict>
</plist>
