[package]
name = "brave_wallet"
version = "1.0.0"
edition = "2021"
license = "MPL-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cxx = { version = "1.0", features = [ "alloc", "std" ] }
ed25519-dalek-bip32 = "0.2.0"
curve25519-dalek = "3.2.0"
bech32 = "0.9.1"

[lib]
name = "brave_wallet"
path = "lib.rs"
crate-type = ["rlib"]
