build/commands/ @brave/build-commands-reviewers
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers

# brave/browser/ui/BUILD.gn should not have new files added to it
browser/ui/BUILD.gn @bridiver

# BraveBrowserProcess public interface
browser/brave_browser_process.h @bridiver

# BraveComponent is deprecated
components/brave_component_updater/browser/brave_component.h @bridiver @antonok-edm
components/brave_component_updater/browser/local_data_files_observer.h @bridiver @antonok-edm

# BravePrefServiceBridge is deprecated
browser/android/preferences/brave_pref_service_bridge.cc @bridiver

# sources.gni - see docs/gni_sources.md
**/sources.gni @brave/sources-gni-reviewers
**/*_sources.gni @brave/sources-gni-reviewers
docs/gni_sources.md @brave/sources-gni-reviewers

# Renderer code
**/renderer/**/* @brave/renderer-reviewers

# Rust deps
**/Cargo.* @brave/rust-deps-reviewers
third_party/rust @bridiver

# Rust code
**/*.rs @brave/rust-reviewers

# Third-party binaries
**/*.aar @bridiver
**/*.jar @bridiver
**/*.apk @bridiver
**/*.dex @bridiver
**/*.lib @bridiver
**/*.so @bridiver
**/*.o @bridiver
**/*.dll @bridiver
**/*.dylib @bridiver

# Strings
**/*.grd @brave/string-reviewers-team
**/*.grdp @brave/string-reviewers-team
components/brave_extension/extension/brave_extension/_locales/en_US/messages.json @brave/string-reviewers-team

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_rewards/ @brave/rewards-client
components/brave_rewards/core/common/signer.cc @brave/sec-team
components/brave_rewards/core/common/signer.h @brave/sec-team
components/brave_rewards/core/common/request_signer.cc @brave/sec-team
components/brave_rewards/core/common/request_signer.h @brave/sec-team

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
brave/components/brave_ads/core/internal/privacy/**/*.cc @brave/ads-client
brave/components/brave_ads/core/internal/privacy/**/*.h @brave/ads-client
brave/components/brave_ads/core/internal/privacy/**/*.mm @brave/ads-client
brave/components/brave_ads/core/internal/security/**/*.cc @brave/ads-client
brave/components/brave_ads/core/internal/security/**/*.h @brave/ads-client
brave/components/brave_ads/core/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/chrome/browser/net/profile_network_context_service.cc @brave/sec-team
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Tor
browser/tor/ @brave/tor-reviewers
browser/ui/webui/tor_internals_ui.* @brave/tor-reviewers
browser/ui/webui/settings/brave_tor*.* @brave/tor-reviewers
chromium_src/chrome/browser/net/proxy_config_monitor.* @brave/tor-reviewers
chromium_src/net/proxy_resolution/configured_proxy_resolution_service.cc @brave/tor-reviewers
components/tor/ @brave/tor-reviewers
net/proxy_resolution/ @brave/tor-reviewers

# Chromium Extension API modifications
chromium_src/**/extensions/**/*_features.json @brave/sec-team
chromium_src/tools/json_schema_compiler/ @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets-core
browser/ui/brave_wallet/ @brave/crypto-wallets-core
browser/ui/wallet_bubble_manager_delegate_impl.* @brave/crypto-wallets-core
browser/ui/webui/brave_wallet/ @brave/crypto-wallets-core
browser/ui/views/wallet_bubble_focus_observer* @brave/crypto-wallets-core
components/brave_wallet/ @brave/crypto-wallets-core
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets-core @brave/crypto-wallets-ios
components/brave_wallet/common/brave_wallet.mojom @brave/crypto-wallets-ios
components/brave_wallet/renderer/ @brave/crypto-wallets-ios
components/brave_wallet/resources/*.js @brave/crypto-wallets-core @brave/crypto-wallets-ios
components/brave_wallet_ui/ @brave/crypto-wallets-front-end
ios/browser/brave_wallet/ @brave/crypto-wallets-ios
ios/browser/api/brave_wallet @brave/crypto-wallets-ios
renderer/brave_wallet/ @brave/crypto-wallets-core @brave/crypto-wallets-ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
browser/android/brave_sync_worker.* @brave/sync-reviewers
browser/sync/ @brave/sync-reviewers
browser/ui/webui/settings/brave_sync_handler.* @brave/sync-reviewers
components/brave_sync/ @brave/sync-reviewers
components/sync/service/ @brave/sync-reviewers
components/sync_device_info/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/ @brave/sync-reviewers
ios/browser/api/sync/brave_sync_worker.* @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @brave/p3a-reviewers
components/p3a/ @brave/p3a-reviewers
components/time_period_storage/ @brave/p3a-reviewers

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @brave/java-patch-reviewers
patches/*.java.patch @brave/java-patch-reviewers

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers

# Android res
android/java/res @deeppandya

# BravePrefServiceBridge.java is going to be retired soon. We
# have that owners record temporary to avoid people adding
# new things there
android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java @AlexeyBarabash @samartnik @SergeyZhukovsky

# GitHub configuration
/.github/ @brave/devops-team
/.github/CODEOWNERS @brave/devops-team @bsclifton
/.github/PULL_REQUEST_TEMPLATE.md @bsclifton


# Semgrep configuration
/.semgrepignore @thypon
