patches/ @brave/patch-reviewers
chromium_src/ @brave/patch-reviewers
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
browser/brave_rewards/ @brave/rewards
browser/extensions/api/brave_rewards_api.cc @brave/rewards
browser/extensions/api/brave_rewards_api.h @brave/rewards
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards
browser/ui/webui/brave_rewards_ui.cc @brave/rewards
browser/ui/webui/brave_rewards_ui.h @brave/rewards
components/brave_rewards/ @brave/rewards
components/services/bat_ledger/ @brave/rewards
vendor/bat-native-ledger/ @brave/rewards

# Ads
vendor/bat-native-ads/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik
