/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  padding: 20px
}

h3 {
  color: rgb(255, 80, 0);
}

a {
  text-decoration: none;
  color: #686978;
}
