body {
  padding: 100px;
  font-family: Muli, sans-serif;
}

a {
  text-decoration: none;
  color: #fb542b;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 18px;
}

.headerContainer .__column {
  justify-content: center;
  align-items: center;
  display: flex;
}

.headerContainer .__torrentTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.headerContainer .__button {
  white-space: nowrap;
  margin: 12px;
}

.torrentSubhead {
  border-top: solid 1px #c8c8d5;
  margin: 16px 0;
}

.starterText {
  font-size: 20px;
  margin: 32px 0;
}

.torrentHeading {
  font-size: 20px;
  margin: 32px 0 16px 0;
  font-weight: 500;
  color: #fb542b;
}

.torrentStatus {
  font-size: 16px;
}

.torrentStat, .torrentStatDivider {
  margin-right: 15px;
}

.footerNotice {
  padding: 18px 0;
  border-top: solid 1px #c8c8d5;
  color: #8b8b9f;
  line-height: 18px;
}

#webTorrentCredit {
  color: #8b8b9f;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
}

.loadingContainer .__icon {
  height: 32px;
  margin: 0 0 18px;
}
