# Copyright (c) 2026 The Brave Authors. All rights reserved.
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this file,
# You can obtain one at https://mozilla.org/MPL/2.0/.

# The root repo, chromium/src.
//

# Chromium submodules.
//v8
//third_party/catapult
//third_party/devtools-frontend/src
//third_party/ffmpeg
//third_party/search_engines_data/resources
