<!doctype html>
<html data-test-id="brave-new-tab-page" dir="$i18n{textdirection}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>New Tab</title>
<link rel="stylesheet" href="chrome://resources/brave/css/reset.css">
<link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
<link rel="stylesheet" href="chrome://resources/brave/fonts/poppins.css">
<link rel="stylesheet" href="chrome://resources/brave/fonts/inter.css">
<link rel="stylesheet" href="chrome://resources/brave/fonts/crypto_fonts.css">
<link rel="stylesheet" href="chrome://resources/brave/leo/css/variables.css">
<script src="chrome://resources/js/load_time_data_deprecated.js"></script>
<script src="/strings.js"></script>
<script src="chrome://resources/cr_elements/cr_lottie/cr_lottie.js" type="module"></script>
<script src="/brave_new_tab_ui.bundle.js"></script>
<style>
  body {
    background: $i18n{backgroundColor};
  }
  #root {
    height: 100%;
  }

  ::-webkit-scrollbar {
      width: 6px;
  }

  ::-webkit-scrollbar-thumb {
      background: var(--leo-color-neutral-40);
      border-radius: var(--leo-spacing-m);
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: var(--leo-color-neutral-20);
    }
  }
</style>
</head>
<body>
<div id="root"></div>
</body>
</html>
