/vendor/*
!/vendor/bat-native-ledger
!/vendor/bat-native-ads
.DS_Store
.tags*
/.idea/
/components/brave_new_tab_ui/data/LICENSE
/components/brave_webtorrent/extension/out/
/components/brave_rewards/resources/extension/brave_rewards/out/
/components/third_party/adblock/LICENSE
/components/third_party/local_data/LICENSE
/dist/
/out/
node_modules/
patches/**/*.patchinfo
/third_party/argon2/src
/third_party/ethash/src
/third_party/bitcoin-core/src
/third_party/boost/config
/third_party/boost/multiprecision
/third_party/rust/cxx
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
.npmrc
*~
CMakeLists.txt
cmake-build-debug/
coverage/
/build/rustup/
venv/
*.dmg
*.pkg
*.deb
*.rpm
*.exe
.storybook-out
test_get_pkgs
