.DS_Store
.tags*
/.idea/
/browser/resources/brave_extension/
/components/brave_webtorrent/extension/out/
/components/brave_sync/extension/brave-crypto/
/components/brave_sync/extension/brave-sync/
/dist/
/out/
/vendor
node_modules/
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
*~
CMakeLists.txt
cmake-build-debug/
coverage/
