.cache/clangd
vendor/python-patch
vendor/sparkle
vendor/bat-native-tweetnacl
vendor/gn-project-generators
vendor/web-discovery-project
vendor/depot_tools
.DS_Store
.brave_gclient_*
.gclient_*
.tags*
.cipd
/.clang-format
/.idea/
/components/brave_new_tab_ui/data/LICENSE
/components/brave_wallet/browser/zcash/rust/librustzcash/src/
/components/brave_webtorrent/extension/out/
/components/brave_rewards/resources/extension/brave_rewards/out/
/components/third_party/adblock/LICENSE
/components/third_party/local_data/LICENSE
/dist/
/out/
node_modules/
patches/**/*.patchinfo
/third_party/android_deps/libs/com_google_android_play_core/core-1.10.0.aar
/third_party/android_deps/libs/com_google_android_play_core/core-1.10.3.aar
/third_party/argon2/src
/third_party/brave-vpn-wireguard-nt-dlls/
/third_party/brave-vpn-wireguard-tunnel-dlls/
/third_party/bip39wally-core-native/
/third_party/ethash/src
/third_party/bitcoin-core/src
/third_party/playlist_component/src
/third_party/rapidjson/src
/third_party/reclient_configs/src
/third_party/rust/futures_retry/v0_5/crate
/third_party/cryptography
/third_party/macholib
/third_party/libdmg-hfsplus/
*.xcodeproj
!/ios/brave-ios/App/*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
.npmrc*
.env*
engflow.crt
*.key
privkey.pem
*~
CMakeLists.txt
cmake-build-debug/
coverage/
/build/rustup/
venv/
*.dmg
*.pkg
*.deb
*.rpm
*.exe
.storybook-out
test_get_pkgs
build/config/gclient_args.gni
third_party/rust/target
xcuserdata

# buffer exclusion file generated locally during sync
build/config/unsafe_buffers_paths.txt
