# Don't add paths that are already ignored in .gitignore:
# npm run format/presubmit does it automatically.
# For manual run use :
# npx prettier --ignore-path .prettierignore --ignore-path .gitignore .

# Ignore HTML Files - incompatable with presubmit rules
*.html

# Ignore non-component top level folders (remove to opt-in):
/android
/app
/base
/brave_domains
/browser
/chromium_src
/common
/content
/coverage
/docs
/extensions
/fuzzers
/installer
/ios
/mojo
/net
/patches
/renderer
/resources
/sandbox
/script
/services
/test
/third_party
/tools
/ui
/utility
/v8
/vector_icons
/win_build_output
/.storybook/

# Ignore github .yml files:
.github/**/*.yml

# Ignored markdown files:
.github/PULL_REQUEST_TEMPLATE.md
CONTRIBUTING.md
README.md

# Ignored top-level files:
.clang-tidy
chromium_presubmit_config.json5
jest.config.js
snapcraft.yaml
.eslintrc.js

# Needs to be refactored before being formatted
/build/commands/lib/util.js
# Ignored minified javascript
components/brave_wallet/resources/solana_web3_script.js

# Ignore components folders with a lot of formatting issues
/components/ai_chat/
/components/ai_rewriter/
/components/brave_new_tab_ui/
/components/brave_rewards/
/components/brave_wallet/
/components/brave_wallet_ui/panel/
/components/brave_shields/
/components/brave_vpn/
/components/brave_news/
/components/web-components/
/components/brave_welcome_ui/
/components/brave_adblock_ui/
/components/brave_ads/
/components/brave_extension/
/components/brave_perf_predictor/
/components/brave_private_new_tab_ui/
/components/policy/resources/templates/
/components/playlist/
/components/speedreader/
/components/common/
/components/cosmetic_filters/
/components/definitions/
/components/new_tab_takeover/
/components/skus/
/components/tor/
/components/webcompat_reporter/
/components/webpack/
/components/browser_ui/
/components/decentralized_dns/
/components/embedder_support/
/components/flags_ui/
/components/permissions/
/components/request_otr/
/components/safe_browsing/
/components/security_interstitials/
/components/signin/
/components/test/
/components/translate/
/components/variations/
