# Ignored files identified within .gitignore:
.cache/clangd
/vendor/*
.DS_Store
.brave_gclient_*
.gclient_*
.tags*
.cipd
/.idea/
/components/brave_new_tab_ui/data/LICENSE
/components/brave_webtorrent/extension/out/
/components/brave_rewards/resources/extension/brave_rewards/out/
/components/third_party/adblock/LICENSE
/components/third_party/local_data/LICENSE
/dist/
/out/
node_modules/
patches/**/*.patchinfo
/third_party/android_deps/libs/com_google_android_play_core/core-1.10.0.aar
/third_party/android_deps/libs/com_google_android_play_core/core-1.10.3.aar
/third_party/argon2/src
/third_party/brave-vpn-wireguard-nt-dlls/
/third_party/brave-vpn-wireguard-tunnel-dlls/
/third_party/bip39wally-core-native/
/third_party/ethash/src
/third_party/bitcoin-core/src
/third_party/playlist_component/src
/third_party/rapidjson/src
/third_party/rust/challenge_bypass_ristretto/v1/crate
/third_party/rust/kuchiki/v0_8/crate
/third_party/rust/futures_retry/v0_5/crate
/third_party/rust/star_constellation/v0_2/crate
/third_party/cryptography
/third_party/macholib
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
.npmrc
.env
CMakeLists.txt
cmake-build-debug/
coverage/
/build/rustup/
venv/
*.dmg
*.pkg
*.deb
*.rpm
*.exe
.storybook-out
test_get_pkgs
build/config/gclient_args.gni
third_party/rust/target

# Ignore HTML Files - incompatable with presubmit rules
*.html

# Ignore non-component top level folders (remove to opt-in):
/android
/app
/base
/brave_domains
/browser
/build
/chromium_src
/common
/content
/coverage
/docs
/extensions
/fuzzers
/installer
/ios
/mojo
/mojo/brave_ast_patcher
/net
/node_modules
/patches
/renderer
/resources
/sandbox
/script
/services
/test
/third_party
/tools
/ui
/utility
/v8
/vector_icons
/vendor
/win_build_output

# Ignore github .yml files:
.github/**/*.yml

# Ignored markdown files:
.github/PULL_REQUEST_TEMPLATE.md
CONTRIBUTING.md
README.md

# Ignored top-level files:
.clang-tidy
chromium_presubmit_config.json5

# Ignored minified javascript
components/brave_wallet/resources/solana_web3_script.js

# Ignored components (remove to opt-in):
components/ai_chat
components/api_request_helper
components/assist_ranker
components/body_sniffer
components/brave_adaptive_captcha
components/brave_adblock_ui
components/brave_ads
components/brave_blank_page
components/brave_component_updater
components/brave_drm
components/brave_extension
components/brave_federated
components/brave_new_tab_ui
components/brave_news
components/brave_page_graph
components/brave_perf_predictor
components/brave_private_cdn
components/brave_private_new_tab_ui
components/brave_referrals
components/brave_rewards
components/brave_search
components/brave_search_conversion
components/brave_shields
components/brave_stats
components/brave_sync
components/brave_vpn
components/brave_wayback_machine
components/brave_webtorrent
components/brave_welcome
components/brave_welcome_ui
components/browser_ui
components/browsing_data
components/captive_portal
components/child_process_monitor
components/commander
components/commands
components/common
components/constants
components/content_settings
components/cosmetic_filters
components/de_amp
components/debounce
components/decentralized_dns
components/definitions
components/embedder_support
components/ephemeral_storage
components/external_intents
components/filecoin
components/flags_ui
components/google_sign_in_permission
components/greaselion
components/history
components/https_upgrade_exceptions
components/img
components/infobars
components/ipfs
components/ipfs_ui
components/json
components/l10n
components/localhost_permission
components/metrics
components/misc_metrics
components/network_time
components/ntp_background_images
components/ntp_tiles
components/ntp_widget_utils
components/omnibox
components/os_crypt
components/p3a
components/p3a_utils
components/page_info
components/permissions
components/playlist
components/policy
components/privacy_sandbox
components/query_filter
components/request_otr
components/resources
components/rpill
components/safe_browsing
components/safe_builtins
components/safetynet
components/search_engines
components/services
components/sessions
components/sidebar
components/signin
components/skus
components/speedreader
components/strings
components/sync
components/sync_device_info
components/test
components/text_recognition
components/third_party
components/time_period_storage
components/tor
components/translate
components/update_client
components/url_sanitizer
components/variations
components/vector_icons
components/version_info
components/web-components
components/webcompat_reporter
components/webpack
components/widevine
