github "Alamofire/Alamofire"		"5.0.0-beta.7"
github "garvankeeley/Deferred"		"9.9.2"
github "SnapKit/SnapKit"		"5.0.1"
github "rs/SDWebImage"			"4.4.6"
github "swisspol/GCDWebServer"		"3.5.2"
github "Sidetalker/onepassword-app-extension" "add-framework-support"
github "DaveWoodCom/XCGLogger"		"7.0.0"
github "cezheng/Fuzi"			"3.1.0"
github "SwiftyJSON/SwiftyJSON"		"5.0.0"
github "garvankeeley/JSONSchema.swift"	"9.9.0"
github "path/FastImageCache"		"1.5.1"
github "facebook/pop"			"1.0.12"
github "xmartlabs/Eureka"		"5.0.0"
github "venmo/Static"			"v4.0.0"
github "airbnb/lottie-ios" "master"
github "jrendel/SwiftKeychainWrapper"    "3.4.0"
