github "getsentry/sentry-cocoa"             "4.0.1"
github "Alamofire/Alamofire"                "4.7.3"
github "sleroux/Deferred"                   "Swift3.0"
github "SnapKit/SnapKit"                    "4.0.0"
github "rs/SDWebImage"                      "4.4.2"
github "swisspol/GCDWebServer"              "3.4.2"
github "kif-framework/KIF"                  "v3.7.4"
github "adjust/ios_sdk"                     "v4.14.1"
github "AgileBits/onepassword-app-extension" "add-framework-support"
github "mozilla-mobile/SwiftKeychainWrapper" "3.0.1"
github "DaveWoodCom/XCGLogger"              "6.0.4"
github "cezheng/Fuzi"                       "2.1.0"
github "SwiftyJSON/SwiftyJSON"              "3.1.4"
github "farhanpatel/JSONSchema.swift"       "master"
github "google/EarlGrey"                    "1.13.0"
github "mozilla-mobile/MappaMundi"          "master"
github "path/FastImageCache"		    "master"
github "facebook/pop"
github "xmartlabs/Eureka" "4.1.1"
github "venmo/Static"
