github "Alamofire/Alamofire"		"4.8.2"
github "garvankeeley/Deferred"		"9.9.2"
github "SnapKit/SnapKit"		"5.0.1"
github "rs/SDWebImage"			"4.4.6"
github "swisspol/GCDWebServer"		"3.5.2"
github "kif-framework/KIF"		"v3.7.5"
github "AgileBits/onepassword-app-extension" "add-framework-support"
github "jrendel/SwiftKeychainWrapper"	"3.2.0"
github "DaveWoodCom/XCGLogger"		"7.0.0"
github "cezheng/Fuzi"			"2.2.1"
github "SwiftyJSON/SwiftyJSON"		"4.2.0"
github "garvankeeley/JSONSchema.swift"	"9.9.0"
github "path/FastImageCache"		"1.5.1"
github "facebook/pop"			"1.0.12"
github "xmartlabs/Eureka"		"4.3.1"
github "venmo/Static"			"v3.0.3"
github "brave/brave-rewards-ios" "master"
github "airbnb/lottie-ios" "master"
