<receiver android:name="org.chromium.chrome.browser.notifications.BraveSetDefaultBrowserNotificationService"
    android:exported="false">
    <intent-filter>
          <action android:name="DEEP_LINK"/>
    </intent-filter>
</receiver>

<activity android:name="org.chromium.chrome.browser.BraveRewardsDonationSentActivity"
    android:theme="@android:style/Theme.Translucent.NoTitleBar"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|screenLayout|smallestScreenSize" />

<activity android:name="org.chromium.chrome.browser.BraveRewardsSiteBannerActivity"
    android:theme="@android:style/Theme.Translucent.NoTitleBar" />

<!-- Onboarding notification -->
<receiver android:name="org.chromium.chrome.browser.notifications.BraveOnboardingNotification"
    android:exported="false">
</receiver>
<receiver android:name="org.chromium.chrome.browser.onboarding.BraveRewardsServiceReceiver"
    android:exported="false">
</receiver>
<activity
    android:name="org.chromium.chrome.browser.onboarding.OnboardingActivity"
    android:theme="@style/Theme.Chromium.Activity.Fullscreen"
    android:screenOrientation="sensorPortrait"/>

<service android:name="org.chromium.chrome.browser.onboarding.BraveRewardsService"
    android:exported="false">
</service>
