<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Sync Lib</title>
<link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
<script src="chrome://resources/js/cr.js"></script>
<script src="chrome://resources/js/load_time_data.js"></script>
<script src="chrome://resources/js/util.js"></script>
<script src="chrome://resources/js/i18n_template.js"></script>
<script src="chrome://bravesynclib/brave_sync_lib.js"></script>
<script src="chrome://bravesynclib/crypto.js"></script>
<!-- <script src="chrome://bravesynclib/bundle.js"></script>  (will be loaded dynamically) --->

<body>
  <h1>brave_sync_lib.html</h1>
  <p id="welcome-message"></p>
</body>
<head>
