.modelInfo {
  margin: 24px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: start;
}

.modelIcon {
  --leo-icon-color: white;
  background: var(--leo-gradient-icons-active);
  padding: 9px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta {
  padding-top: 4px;

  .category {
    margin: 0;
    font: var(--leo-font-heading-h4);
    color: var(--leo-color-text-primary);
  }

  .name {
    margin: 0;
    font: var(--leo-font-small-regular);
    color: var(--leo-color-text-tertiary);
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.tooltipButton {
  --leo-button-padding: 0;

  leo-icon {
    --leo-icon-size: 14px;
    --leo-icon-color: var(--leo-color-text-tertiary);
  }
}

.tooltip {
  --leo-tooltip-padding: var(--leo-spacing-xl);
  height: 14px;
}

.tooltipContent {
  max-width: 240px;
  font: var(--leo-font-small-regular);
  color: var(--leo-color-text-primary);

  a {
    display: block;
    color: var(--leo-color-text-interactive);
  }
}
