doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'https://localhost:3000/js/todoapp.bundle.js')
