<div class="product">
<span class="title">{{name}}</span>
<a class="show" href="#">show license</a>
<span class="homepage"><a href="{{url}}">homepage</a></span>
<div class="licence">
<pre>{{license}}</pre>
</div>
</div>
