<!doctype html>
<html lang="en">
  <head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Brave Wallet</title>
  <link rel="stylesheet" href="chrome://resources/css/md_colors.css">
  <link rel="stylesheet" href="chrome://resources/brave/fonts/poppins.css">
  <link rel="stylesheet" href="chrome://resources/brave/fonts/inter.css">
  <link rel="stylesheet" href="chrome://resources/brave/leo/css/variables.css">
  <script src="chrome://resources/js/load_time_data_deprecated.js"></script>
  <script src="/strings.js"></script>
  <style>
    html {
      background-color: var(--leo-color-container-background);
      /* Prevent layout shift when a vertical scrollbar is added  */
      overflow-y: auto;
    }

    #root {
      display: flex;
      min-height: calc(100vh - 56px);
    }

    iframe {
      color-scheme: none;
    }
  </style>
  </head>
  <body>
    <script src="/brave_wallet_page.bundle.js"></script>
    <cr-toolbar id="toolbar" no-search></cr-toolbar>
    <div id="root"></div>
  </body>
</html>
