/* Copyright 2019 The Brave Authors. All rights reserved.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * you can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Refer to:
 * ui/webui/resources/cr_elements/paper_button_style_css.html
 * for styles to override.
 *
 * Translation of variants from Paper to Brave:
 * action-button = Primary (solid fill bg, white fg)
 * default = default (outline color grey, white bg, dark grey fg)
 *
 */

/* Light theme */

paper-button {
  --brave-text-color: #3b3e4f; /* grey800 */
  --brave-brand-color: #ff7654; /* orange400 */
  --brave-primary-hover: #ff977d; /* orange300 */
  --brave-default-hover: rgba(255, 118, 84, 0.1); /* orange400 */
  --brave-focus-outline: rgba(255, 118, 84, 0.4); /* orange400 */
  --brave-default-border: #c2c4cf; /* grey 400 */
  --paper-button-ink-color: var(--brave-brand-color) !important;
}

/* Dark theme */
[dark] paper-button,
:host-context([dark]) paper-button {
  --brave-text-color: #ffffff;
  --brave-default-border: #5e6175; /* grey 700 */
}

/* Regular styles */
paper-button {
  font-family: Muli !important;
  border-radius: 20px !important;
  border: 1px solid var(--brave-default-border) !important;
  color: var(--brave-text-color) !important;
  outline: none;
}

paper-button:not([raised]).keyboard-focus,
paper-button:not([raised]).action-button.keyboard-focus {
  box-shadow: 0 0 0 3px var(--brave-focus-outline) !important;
}

/* Default button */
paper-button:not(.action-button):hover {
  background: none !important;
  border-color: var(--brave-brand-color) !important;
  color: var(--brave-brand-color) !important;
}

paper-button:not([raised]).action-button {
  background-color: var(--brave-brand-color) !important;
  color: #ffffff !important;
  border: none !important;
}

paper-button:not([raised]).action-button:hover {
  background: var(--brave-primary-hover) !important;
}
