<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Webcompat Reporter</title>
<link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
<link rel="stylesheet" href="chrome://resources/brave/fonts/poppins.css">
<link rel="stylesheet" href="chrome://resources/brave/fonts/inter.css">
<script src="chrome://resources/js/load_time_data_deprecated.js"></script>
<script src="/strings.js"></script>
<script src="/webcompat_reporter.bundle.js"></script>
<style>
  #root {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  body {
    margin: 0;
  }
</style>
</head>
<body>
<div id="root"></div>
</body>
</html>
