.body {
  display: flex;
  flex-direction: column;
  gap: var(--leo-spacing-xl);

  color: var(--leo-color-text-primary);
}

.shield {
  --leo-icon-size: 62px;
  margin: 0 auto;

  path {
    transition: fill 0.12s ease;
  }

  path.background {
    fill: var(--leo-color-neutral-40);
  }

  path.stripes {
    fill: var(--leo-color-container-background);
  }

  .connected & {
    path.background {
      fill: url(#shieldGradient);
    }

    path.stripes {
      fill: var(--leo-color-white);
    }
  }
}

.detailsAndActions {
  display: flex;
  gap: var(--leo-spacing-2xl);
  align-items: center;
  justify-content: space-between;
}

.serverDetails {
  display: flex;
  flex-direction: column;
  gap: var(--leo-spacing-xs);

  .connectionStatus {
    font: var(--leo-font-small-regular);

    transition: color 0.12s ease;

    .connected & {
      color: var(--leo-color-green-30);
    }
  }

  .detailLockup {
    display: flex;
    gap: var(--leo-spacing-m);
    align-items: center;
  }

  .region {
    font: var(--leo-font-large-semibold);
  }

  .changeServerButton {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    font: var(--leo-font-x-small-link);
    text-decoration: underline;
    color: var(--leo-color-text-primary);
  }

  .ip {
    font: var(--leo-font-x-small-regular);
    color: var(--leo-color-text-secondary);
  }

  .city {
    font: var(--leo-font-x-small-regular);
    color: var(--leo-color-text-tertiary);
  }
}
