.wrapper {
  font: var(--leo-font-default-regular);
  color: var(--leo-color-white);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--leo-spacing-m);

  padding-bottom: var(--leo-spacing-2xl);
  font: var(--leo-font-heading-h4);
  color: var(--leo-color-white);

  --leo-icon-color: var(--leo-gradient-icons-active);
}

.body {
  padding: var(--leo-spacing-2xl);
  padding-top: 0;
}