[package]
name = "brave_wallet"
version = "1.0.0"
edition = "2021"
license = "MPL-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cxx = { version = "1.0", features = [ "alloc", "std" ] }
curve25519-dalek = "4.1.3"
bech32 = "0.9.1"
bls-signatures = { version = "0.15", default-features = false, features = ["pairing"] }
schnorrkel = "0.11.4"
ciborium = "0.2.2"
parity-scale-codec = "3.7.5"

[lib]
name = "brave_wallet"
path = "lib.rs"
crate-type = ["rlib"]
