<!doctype html>
<html dir="$i18n{textdirection}" lang="$i18n{language}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>New Tab</title>
  <link rel="stylesheet" href="chrome://resources/brave/css/reset.css" blocking="render" >
  <link rel="stylesheet" href="chrome://resources/brave/fonts/poppins.css" blocking="render" >
  <link rel="stylesheet" href="chrome://resources/brave/fonts/inter.css" blocking="render" >
  <link rel="stylesheet" href="chrome://resources/brave/leo/css/variables.css" blocking="render" >
  <script type="module" src="/strings.m.js"></script>
  <script type="module" src="/new_tab.bundle.js"></script>
  <style>
    body {
      background: $i18n{backgroundColor};
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
