<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Ad Block Internals</title>
  <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
  <script src="chrome://resources/js/load_time_data_deprecated.js"></script>
  <script src="/strings.js"></script>
  <script src="/brave_adblock_internals.bundle.js"></script>
  <style>
    #root {
      height: 100%;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .active-entry {
      color: black;
    }

    .inactive-entry {
      color: darkgray;
    }

  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
