.textInput {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  color: var(--text2);

  > input, > textarea {
    --border-color: --interactive8;
    --focus-border-color: var(--focus-border);
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-radius: 4px;
    outline: 1px solid var(--interactive8);
    transition: outline .09s ease-in-out;
    background-color: var(--background1);
    padding: 10px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--text1);
    &:hover, &:focus-visible, &:active {
      outline: 4px solid var(--focus-border-color);
    }
    &:disabled {
      color: var(--disabled);
      outline: 1px solid var(--disabled);
    }
  }

  &:has([data-has-error]) :is(input, textarea) {
    --border-color: #BD1531;
    --focus-border-color: #BD1531;
  }
}


.errorMessage {
  margin-left: 4px;
  color: #BD1531;
}
