// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This is for _Global_ swift flags and will be applied to _all_ targets.
// Configuration inheritence only works through Xcode defined levels, not configuration files.
// So need to use unique name and utilize in subclasses
// (e.g. can't use $(inherited) to 'pull' these changes, into sub-configurations)

brave_version_major = 0
brave_version_minor = 0
brave_version_patch = 0
brave_version_build = 0

#include "../../../../out/current_link/args.xcconfig"

OTHER_SWIFT_FLAGS_BASE=-DMOZ_TARGET_$(TARGET_NAME:upper)

FRAMEWORK_BASE_BUNDLE_ID = com.brave
BASE_BUNDLE_ID = $(FRAMEWORK_BASE_BUNDLE_ID).ios

DEVELOPMENT_TEAM = KL8N8XSYF4

BRAVE_URL_SCHEME = brave
