// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This is for EXTERNAL beta testing

#include "Base.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = BraveBeta

BRAVE_URL_SCHEME = brave-beta

// Bundle Identifier
MOZ_BUNDLE_ID = $(BASE_BUNDLE_ID).browser.beta

// Flag to indicate if we want to include the debug settings bundle or not
INCLUDE_SETTINGS_BUNDLE = NO

SWIFT_ACTIVE_COMPILATION_CONDITIONS = MOZ_CHANNEL_BETA

// Manual Code-Signing
CODE_SIGN_IDENTITY = Apple Distribution: Brave Software, Inc.
CODE_SIGN_STYLE = Manual
