// Imports local configurations to be utilized for local builds.
// These are only compiled into the Local target

#include "Local/BundleId.xcconfig"
#include "Local/DevTeam.xcconfig"

// Set in Local/BundleId.xcconfig
MOZ_BUNDLE_ID = $(LOCAL_BUNDLE_ID)

// Set in Local/DevTeam.xcconfig
DEVELOPMENT_TEAM = $(LOCAL_DEVELOPMENT_TEAM)
