body{
  width: 260px;
  height: 200px;
  padding-bottom: 10%;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.status{
  margin-bottom: 10px;
}

form{
  display: flex;
    flex-direction: column;
}

input{
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ece2d4;
  margin-top: 10px;
  display: flex;
}

input:focus{
  outline: none;
  border-color: rgb(255, 190, 51);
  box-shadow: 0 0 3px rgb(255, 190, 51);
  -moz-box-shadow: 0 0 3px rgb(255, 190, 51);
  -webkit-box-shadow: 0 0 3px rgb(255, 190, 51);
}

input[type="checkbox"]:checked {
  background-color: #ffd000;
}

.checkbox-container input[type="checkbox"],
        .checkbox-container label {
            display: inline;
            vertical-align: middle;
            font-weight: bold; 
            font-size: large;
        }
        .checkbox-container{
            margin-bottom: 10px;
        }

button{
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0.6rem;
  padding-left: .8rem;
  padding-right: .8rem;
  background-color: rgb(252, 181, 88);
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  width: 100%;
}
