.ad-hideable,
  .ad-div,
  .masthead-ad-control,
  .video-ads,
  .ytp-ad-module,
  .ytp-ad-progress,
  .promoted-sparkles-text-search-root-container,
  .ytd-compact-promoted-video-renderer,
  #ytd-promoted-sparkles-web-renderer,
  #ytm-promoted-sparkles-text-search-renderer,
  #pla-shelf,
  #merch-shelf,
  #ad_creative_3,
  #footer-ads,
  #watch7-sidebar-ads,
  .ytp-ad-progress-list,
  .ad-container,
  #video-masthead,
  #watch-channel-brand-div,
  #Billboard-ad {
    display: none !important;
}

/* YouTube Masthead and Sidebar Ads */
#player-ads.ytd-watch,
ytd-page-manager #masthead-ad.ytd-browse {
  display: none !important;
}

