.decentralized_dns #main-content a {
  color: var(--google-blue-700);
  text-decoration: none;
}

.decentralized_dns button {
  background: var(--primary-button-fill-color);
}

.decentralized_dns .icon {
  background-image: -webkit-image-set(
      url(../../../../components/security_interstitials/core/browser/resources/images/1x/info.png) 1x,
      url(../../../../components/security_interstitials/core/browser/resources/images/2x/info.png) 2x);
}
