# Copyright (c) 2025 The Brave Authors. All rights reserved.
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this file,
# You can obtain one at https://mozilla.org/MPL/2.0/.

[[substitution]]
description = 'Replaces all |close_button_->SetVisible(showing_close_button)| occurences.'
pattern = 'close_button_->SetVisible(showing_close_button_)'
count = 2
replace = 'close_button_->SetVisible(!controller_->ShouldAlwaysHideCloseButton() && showing_close_button_)'

[[substitution]]
description = 'Insert BRAVE_UI_VIEWS_TABS_TAB_UPDATE_ICON_VISIBILITY' 
re_pattern = '(showing_close_button_\s=\n([\s\S]*?)large_enough_for_close_button;\n)'
count = 1
replace = '\1    BRAVE_UI_VIEWS_TABS_TAB_UPDATE_ICON_VISIBILITY\n'

[[substitution]]
description = 'Insert BRAVE_UI_VIEWS_TABS_TAB_LAYOUT_ADJUST_ICON_POSITION'
re_pattern = '(gfx::Rect favicon_bounds\([\s\S]*?\);\n\s*if\s\(showing_icon_\)\s{\n)'
count = 1
replace = '\1    BRAVE_UI_VIEWS_TABS_TAB_LAYOUT_ADJUST_ICON_POSITION\n'

[[substitution]]
description = 'Insert BRAVE_UI_VIEWS_TABS_TAB_ALERT_INDICATOR_POSITION'
re_pattern = '(title_right\s=\salert_indicator_button_[\s\S]*?after_title_padding;\n)'
count = 1
replace = '\1      BRAVE_UI_VIEWS_TABS_TAB_ALERT_INDICATOR_POSITION\n'


