body {
  margin: 0px;
  height: 100%;
  background: #FAF9FE;
}

.interstitial-wrapper {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

.interstitial-wrapper span, p, button {
  color: #212529;
  letter-spacing: .5px;
  font-family: Poppins, sans-serif;
}

.header-logo {
  margin: 60px 0 30px 0;
}

.heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

.copy {
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.info-link {
  display: inline-block;
}

.nav-wrapper {
  max-width: 725px;
  margin: 15px auto 0 auto;
}

.control-box {
  background: #fff;
  border-radius: 16px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 100px;
}

.button-wrapper {
  width: 35%;
  float: left;
}

.button {
  border-radius: 100px;
  font-weight: 600;
  font-size: 13px;
  width: 200px;
  word-wrap: break-word;
  cursor: pointer;
}

.button-retry {
  background-image: url('./assets/retry.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 20% top 50%;
  cursor: pointer;
}

#local-node-button {
  color: #fff;
  border: none;
  background-color: #FB542B;
  padding: 10px 30px;
}

#public-gateway-button {
  background: inherit;
  border: 1px solid #AEB1C2;
  padding: 10px 24px;
}

.copy-wrapper {
  width: 65%;
  float: right;
  text-align: left;
}

.copy-wrapper p {
  font-size: 12px;
  line-height: 18px;
}

.footer {
  margin-top: 20px;
}

.background-container {
  box-sizing: border-box;
  width: 100%;
  height: 136px;
  bottom: 0px;
  position:fixed;
}

.background {
  box-sizing: border-box;
  background: url('./assets/background.svg');
  width: 100%;
  height: 136px;
  background-size: cover;
  background-position-x: center;
}

/* Dark theme styles */
body.dark {
  background: #17171F;
}

.dark *,
.dark > .interstitial-wrapper span {
  color: #F0F2FF;
  letter-spacing: .5px;
  font-family: Poppins, sans-serif;
}

.dark .control-box {
  background: #1E2029;
}

.dark #local-node-button {
  background: #FB542B;
}

.error-container-hidden {
  display: none
}

.error-container-visible {
  background-image: url('./assets/error.svg');
  background-repeat: no-repeat;
  background-position: left 25px top 2px;

  display: block;
  color: red;
  margin-top: 10px;
  padding: 0px 40px;
  padding-left: 45px;
  text-align: left;
}

