# Copyright (c) 2025 The Brave Authors. All rights reserved.
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this file,
# You can obtain one at https://mozilla.org/MPL/2.0/.

plasters = [
    {
        'pattern': r'ChromeAutocompleteSchemeClassifier',
        'replacement': r'BraveAutocompleteSchemeClassifier',
    },
    {
        'op': 'AddHeader',
        'value': '"brave/browser/autocomplete/brave_autocomplete_scheme_classifier.h"'
    },
]
