<!--
  /000000  /00     /00 /00   /00  /000000
 /00__  00|  00   /00/| 000 | 00 /00__  00
| 00  \__/ \  00 /00/ | 0000| 00| 00  \__/
|  000000   \  0000/  | 00 00 00| 00
 \____  00   \  00/   | 00  0000| 00
 /00  \ 00    | 00    | 00\  000| 00    00
|  000000/    | 00    | 00 \  00|  000000/
 \______/     |__/    |__/  \__/ \______/
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sync</title>
    <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
    <script src="chrome://resources/js/cr.js"></script>
    <script src="chrome://resources/js/load_time_data.js"></script>
    <script src="chrome://resources/js/util.js"></script>
    <script src="chrome://resources/js/i18n_template.js"></script>
    <script src="chrome://bravesync/brave_sync.js"></script>
    <script src="chrome://bravesync/qrcode.js"></script>
    <script src="strings.js"></script>
    <style>
      #root { height: 100%; }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
